
	
	<p class="welcome"> 	
		<link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
 		Welcome
 	</p>



 	<h2> We create mouth watering dishes hand crafted to order from high quality ingredients. 
 	</h2>

<div id="hello-carousel">
          
  <div class="item">
  	<%= image_tag("Hello1.jpg") %></div>
  	  <div class="item">
  	<%= image_tag("Hello12.jpg") %></div>
  <div class="item">
  	<%= image_tag("Hello15.jpg") %></div>
  	  <div class="item">
  	<%= image_tag("Hello22.jpg") %></div>
  <div class="item">
  	<%= image_tag("Hello23.jpg") %></div>
  	  <div class="item">
  	<%= image_tag("Hello19.jpg") %></div>
  	  	  <div class="item">
  	<%= image_tag("Hello20.jpg") %></div>
  <div class="item">
  	<%= image_tag("Hello21.jpg") %></div>
  <div class="item">
  	<%= image_tag("hello2.jpg") %></div>
  <div class="item">
  	<%= image_tag("Hello3.jpg") %></div>
  <div class="item">
  	<%= image_tag("Hello4.jpg") %></div>
  <div class="item">
  	<%= image_tag("Hello5.jpg") %></div>
  <div class="item">
  	<%= image_tag("Hello6.jpg") %></div>
  <div class="item">
  	<%= image_tag("Hello7.jpg") %></div>
  <div class="item">
  	<%= image_tag("Hello8.jpg") %></div>
  <div class="item">
  	<%= image_tag("Hello9.jpg") %></div>
  <div class="item">
  	<%= image_tag("Hello10.jpg") %></div>
  <div class="item">
  	<%= image_tag("Hello11.jpg") %></div>


</div>


<div id="front-right">



 			 			<h3 class="ladies"> Monday Night is Wing Night! Buy 6 Wings, Get 6 Free! 3$ Pints of Bud Lite, Miller Lite, and Yuengling!
 			</h3>
 			<h3 class="ladies">Prince Azariyah Performs Every Thursday For Ladies Night! </h3>
 			<h3 class="ladies">Outspoken Trivia Starts Wednesday Nights @ 7:30 PM!
 			</h3>

 			<h3 class="ladies">Live Music! </h3>
  			<h1>Hope Cassity Saturday, November 19th Beginning at 7PM!</h1>
 				<h1></h1>
 				<h1></h1>
</div>


<div id="front-left">



		<div id= "front-address">
 			<h2>
 				<a href="https://www.google.com/maps/place/300+Village+Center+Dr+%23101,+Woodstock,+GA+30188/@34.0881372,-84.4705261,17z/data=!3m1!4b1!4m5!3m4!1s0x88f56dba42e885e9:0x3e5e188850e4268e!8m2!3d34.0881372!4d-84.4683374"> 
 					300 Village Center Dr. Suite 101<br> 
 					Woodstock Ga 30188
 				</a>
			</h2>
		</div>
 			<h2>
 				<a class="btn btn-primary btn-xlg" href="tel:6782478921" 
 				style="padding:20px;background-color:rgba(0,102,51,.9)">
   			Click to Call 
   				<span class="glyphicon glyphicon-earphone" style="padding-left:10px; padding-right:10px;">
   				</span>678-247-8921
				</a>
 			</h2>


 		<h3 class="ladies"></h3>

		<div id="hours">
 			<h2> Store Hours</h2>
 			<h2> Sun - Thur 11:00 AM - 11:00 PM</h2>
 			<h2> Fri & Sat 11:00 AM - 1:30 AM</h2>
 			


 			
 			 
 
  		  	<div id= "google-maps">
 		  			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3304.273351323389!2d-84.470526084784!3d34.08813718059626!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88f56dba42e885e9%3A0x3e5e188850e4268e!2s300+Village+Center+Dr+%23101%2C+Woodstock%2C+GA+30188!5e0!3m2!1sen!2sus!4v1465430335543" 
 		    		width="500" 
 		  			height="450" 
 		  			frameborder="0" style="border:0" allowfullscreen>
 		  			</iframe>
 		  	</div>

		</div>
</div>

