 <div class="social"> 

      <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5";
    fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

 <div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-width="25" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>
 
  <div class="twitter">
    <a href="https://twitter.com/username" class="twitter-follow-button" data-show-count="false" data-show-screen-name="false" >Follow @username</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
  </div>

  <%= image_tag('hello-logo.png', :height => 250, :width => 500, :alt => 'x') %>

<header class="navbar navbar-static-top navbar-inverse">
  <div class="container-fluid">

      <ul class="nav navbar-nav navbar-center" data-no-turbolink>
        <li><%= link_to "Home",   root_path %></li>
        <li><%= link_to "Menu", main_pages_menu_path %></li>
        <li><%= link_to "About", main_pages_about_path %></li>
        <li><%= link_to "Contact Us", main_pages_contact_path %></li>
      
      </ul>


  </div>
  </div>
</header>   